<h1>InstaSlide</h1>
<div class="container">
  <div class="border-top"></div>
  <div id="content">
  <p>beautiful, customizable slide shows.</p>
  </div>
  <div class="border-bottom"></div>
  <div class="omniauth">
	  <% if facebook_token? %>
      <p>You are logged in with facebook</p>
    <% else %>
      <%= link_to "sign up with facebook", '/auth/facebook', class: "auth-button" %>
    <% end %>

    <% if instagram_token? %>
      <p>You are logged in with instragram </p>
    <% else %>
      <%= link_to "sign up with instagram", '/auth/instagram', class: "auth-button" %>
    <% end %>

    <% if flickr_token? %>
      <p>You are logged in with flickr</p>
    <% else %>
      <%= link_to "sign up with flickr", '/auth/flickr', class: "auth-button" %>
    <% end %>
  </div>
  <%= link_to "create a slide", new_slide_path, class: "slide-button" %>

</div>
