<h1>InstaSlide</h1>
<div class="container">
  <div id="content">
  <p>beautiful, customizable slide shows.</p>
  </div>
  <div class="omniauth">
	  <% if facebook_token? %>
      <p>You are logged in with facebook</p> 
    <% else %>
      <%= link_to "Sign up with facebook", '/auth/facebook' %>
    <% end %>

    <% if instagram_token? %>
      <p>You are logged in with instragram </p>
    <% else %>
      <%= link_to "Sign up with instagram", '/auth/instagram' %>
    <% end %>

    <% if flickr_token? %>
      <p>You are logged in with flickr</p>
    <% else %>
      <%= link_to "Sign up with flickr", '/auth/flickr' %>
    <% end %>
  </div>

</div>