.fb-photos {
	display: none;
}

.selected {
	border: 2px red solid;
}
body {
	background-color: #45BCD2;
}
.vignette {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: 0 0 400px rgba(0, 0, 0, 0.9) inset;
  box-shadow: 0 0 400px rgba(0,0,0,0.9) inset;
}


.auth-button {
	padding: 10px;
	border-radius: 5px;
	background: red;
	color: white;
	border: none;
	margin-left: 105px;
	font-weight: bold;
	font-variant: small-caps;
	font-size: 1.3em;
	color: white;
	text-decoration: none;
}

h1.logo {
	font-size: 2.4em;
	color: white;
	text-align: center;
	position: fixed;
	top: 35%;
	left: 49%;
	margin-top: -50px;
	margin-left: -100px;
	text-shadow: 1px -1px px white;
}


